# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python packaging
*.egg-info/

# Build files
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Streamlit cache
.streamlit/